body {
    background-color: LightGrey;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
    border: 10px solid white;
    padding: 10px;
    box-shadow:0 0 6px black;
}
h1  {
    color: #FCA205;
}
h2 {
  color: tomato
}
#kolumnalewa {
  float: left;
  width: 50%
}
#kolumnaprawa{
  float:left;
  width: 50%
}
p1,p2,p3 {
  color: orange;
  text-align: justify;
  font-family: arial, verdana, sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px
}
